<div class="wrapper">
    <div class="nav">
        <a routerLink="/dashboard/users" class="link-nav">Users</a>
        <h2>Add new user</h2>
    </div>
    <form class="form">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" class="input">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" class="input">
        </mat-form-field>
    </form>
</div>